.feynman__link {
    text-decoration: none;
    position: absolute;
    font-size: 36px;
    line-height: 51px;
    color: #2f80ed;
    top: 50%;
    right: 48px;
    opacity: 1;
    transition: opacity .5s ease-in-out .1s;
  }
  
  .feynman__link:hover {
    opacity: 0.6;
    transition: opacity .3s ease-in-out .1s;
  }